@charset "ISO-8859-1";

a {
  text-decoration: none; /* Xóa gạch chân */
  color: inherit; /* Kế thừa màu sắc từ phần tử cha */
  outline: none; /* Xóa đường viền khi trỏ chuột */
}

.chude {
    height: 100px;
    background-color: rebeccapurple;
    opacity: 0.7;
    border-radius: 5px; position: relative;
  }
  
  .chude > .hinhanhcd{
    height: 90%;
    position: absolute;
    bottom: 5%;
    left: 1%;
  }
  .chude > .hinhanhcd > img{
    height: 100%;
    
  }
  
  .chude > .noidungcd{
    text-align: center;
  }
  
  .chude > .noidungcd h1{
    line-height: inherit;
    color: black;
  }